# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

.qmake.cache
*.swp


debug/*
release/*
ipch/*
*.db
*.opendb
.vs/*

QNodeView.build/
.idea/*
CMakeCache.txt
CMakeFiles/*
CMakeScripts/*
QNodeView.xcodeproj/*
